doctype html
html(lang="en")
    include includes/_head
    include includes/_body
        include includes/components/_preloader
        #particles-js
        .container-fluid 
            .container
                include includes/components/_heading
                include includes/components/_analogClock
                include includes/components/_digitalClock
                include includes/components/_today
    include includes/_scripts
