@keyframes pulsate {
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
   0% {
      /* A slightly smaller blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 10px #fff,
        0 0 18px #fff,
        0 0 38px #0fa,
        0 0 73px #0fa,
        0 0 80px #0fa,
        0 0 94px #0fa,
        0 0 140px #0fa;
    }
  }
//    animation: pulsate 0.11s ease-in-out infinite alternate;  