.neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #00b7ff,
      0 0 82px #00b7ff,
      0 0 92px #00b7ff,
      0 0 102px #00b7ff,
      0 0 151px #00b7ff;
  }