.row
    section.mt-5.rounded.col-10.offset-1.col-sm-6.offset-sm-3.col-md-4.offset-md-4.d-flex.justify-content-around.align-items-center.fs-1.text-center#digital_clock
        span.d-inline-block.w-100#digital_hour 
        span.d-inline-block.w-100.digital_separator :
        span.d-inline-block.w-100#digital_minute   
        span.d-inline-block.w-100.digital_separator :
        span.d-inline-block.w-100#digital_second 
        span.ms-3#status