.row
    section.col-10.offset-1.col-sm-4.offset-sm-4.col-md-2.offset-md-5.mt-4.d-flex.justify-content-center.align-items-center.text-center#today 
        .d-inline-block.w-100#day 
        .d-inline-block.w-100#month 
        .d-inline-block.w-100#year